
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497945249128'); /* IE9*/
  src: url('iconfont.eot?t=1497945249128#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497945249128') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497945249128') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497945249128#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-1:before { content: "\e618"; }

.icon-menu-2:before { content: "\e620"; }

.icon-menu-5:before { content: "\e6e2"; }

.icon-menu-6:before { content: "\e70e"; }

.icon-menu-0:before { content: "\e71e"; }

.icon-menu-3:before { content: "\e726"; }

.icon-time:before { content: "\e735"; }

.icon-search:before { content: "\e741"; }

.icon-menu-4:before { content: "\e61c"; }

.icon-refresh_double:before { content: "\e643"; }

